body {
    background-color: #404040;
    font-family: Ubuntu;
}

/* NAVBAR */
/*________________________________________________________________*/
.navbarlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    color: white;
}
 
li {
    float: left;
}

li:nth-child(1) {
    font-size: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
    color: black;
}
/* END NAVBAR */

/*________________________________________________________________*/

/* HEADER */
.header_text {
    color: white;
    text-align: center;
    align-self: center;
}

/* END HEADER */
/*________________________________________________________________*/

/* CONTENT STYLE */
div.content {
    width: 60%;
    justify-content: center;
    text-align: center;
    align-self: center;
    background-color: #ffffff;
    opacity: 0.98;
    filter: alpha(opacity=98);
    overflow: auto;
     
}

.content h1 {
    color: black;
}

.content p {
    color: black;
}

.content_background {
    background: url("http://www.dafont.com/forum/attach/orig/3/9/398483.png")
    no-repeat top center;
    background-size: cover;
}

.footer {
    width: 100%;
    height: auto;
    margin: 10px;
    text-align: center;
    bottom: 0;
    background-color: #404040;
    bottom: 0;
}

a {
    color: darkgrey;
    text-decoration: none;
    font-size: 16px;
}

.article {
    background-color: rgba(0, 0, 0, 0.1);
    width: 40%;
    padding: 1px;
    border-style: groove;
    border-color: lightgrey;
}
.news {
    color: black;
}

.about {
    color: black;
}

.contact {
    color: black;
}

.app {
    margin-bottom: 10%;
}
/* END CONTENT STYLE */

/*STYLE MOBILE*/
@media screen and (max-width: 480px) {
    div.content {
        width: 100%;
        justify-content: center;
        align-self: center;
        text-align: center;
        background-color: white;
        overflow: auto;
    }
    
    
    a {
        font-size: 14px;
    }
    
    .article {
        width: 80%;
        padding: 1px;
        border: 1px groove lightgrey;
    }
}
/* END HOMEPAGE */

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* APP PAGE */
.apptext {
    align-content: center;
}

.apptext img {
    width: 20%;
    height: 8%;
    border: 2px solid grey;
    border-radius: 5px;
}

div.header_text {
    color: white;
}

.apptext p {
    font-size: 20px;
    color: white;
    text-align: center;
    align-self: center;
}

h1 {
    color: white;
    text-align: center;
}

.google {
    width: 18%;
    height: auto;
}

/* END APP PAGE */

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* NEWS PAGE */
div.android_app {
    background-color: grey;
    width: 60%;
    border: 1px solid lightgrey;
    border-radius: 3px;
    color: white;
}
div.header_text {
    color: white;
}

/* END NEWS PAGE*/

/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* ABOUT PAGE*/ 

.about h1, p{
    color: white;
}

/* END ABOUT PAGE */

